* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.logo {
    color: white;
}

.navbar {
    position: fixed; /* Keeps navbar at the top */
    top: 0;
    left: 0;
    right: 0;
    background-color: #555555;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 100; /* Ensures navbar stays on top of other content */
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.App {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 60%;
}

h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

h2 {
    font-size: 1em;
    margin-bottom: 20px;
}

.content {
    display: flex;
    flex-direction: column;
}

.colContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.col {
    flex: 1;
    margin-right: 10px;
    min-width: 100px;
}

input[type="text"], select {
    width: calc(100% - 10px); /* Adjusting for margin */
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    cursor: pointer;
    background: #28a745;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    transition: background 0.3s;
}

input[type="submit"]:hover {
    background: #218838;
}

/* New link styles */
a {
    color: #2456b4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #ffffff;
}

